*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.img{
    width: 100%;
   
}
input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    
}
.gio-hang{
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px #ddd;
    padding: 20px;
    margin: auto;
    max-width: 1100px;
}

.item-gio-hang {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.item-gio-hang .hinhanh img{
    width: 60px;
    height: 60px;
}

.item-gio-hang .hinhanh, .soluong, .tongtien, .hanhdong{
    flex: 1;
    margin-left: 20px;
}
.item-gio-hang .gia{
    flex: 2;
}
.item-gio-hang .ten{
    flex: 3;
}
.item-gio-hang .hanhdong i:hover{
    color: red;
}